/*-----------------------------------------------------------------------------------

    Theme Name: Vie
    Description: ReactJS Creative Agency & Portfolio template
    Author: ThemesCamp
    Author URI: http://themeforest.net/user/ThemesCamp
    Version: 1.2

-----------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------

== Table Of Content

    |--- BASE

        |- typography

    |--- SHORTCODES

        |- Header
        |- buttons
        |- brands
        |- serv-block
        |- services
        |- process
        |- team-vid
        |- works
        |- price
        |- testimonials
        |- app-action
        |- Blog
        |- shop
        |- footers

    |--- BASE

        |- responsive
	


---------------------------------------------------------------- */
/* ====================== [ Start typography  ] ====================== */
body {
  font-family: "Manrope", sans-serif !important;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.3;
  font-weight: 700;
}

p {
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  margin: 0;
  opacity: 0.7;
}

.container {
  max-width: 1170px;
}

.stit {
  font-size: 22px;
  color: #f45162;
  position: relative;
  z-index: 4;
}

.stit span {
  position: relative;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.stit span:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f45162;
  z-index: -1;
}

.stit span.left {
  margin-right: 15px;
}

.stit span.right {
  margin-left: 15px;
}

.bg-gray {
  background: #202123;
}

.bg-dark {
  background: #1e1f21 !important;
}

.bg-dark .stit {
  color: #f45162 !important;
}

.bg-dark .stit span {
  border: 1px solid #fff;
}

.circle-blur {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #17c0e9;
  -webkit-filter: blur(100px);
  filter: blur(100px);
}

/* ====================== [ End typography  ] ====================== */
/* ====================== [ Start header  ] ====================== */
.mobile-app {
  min-height: 100vh;
  padding: 100px 0 60px;
}

.mobile-app .caption h1 {
  font-size: 70px;
}

.mobile-app .caption .buton svg {
  fill: #fff;
}

.page-app-header {
  min-height: 60vh;
}

.page-app-header:before {
  background: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
}

.page-app-header .text-center h1 {
  font-size: 65px;
}

.page-app-header .text-center .links a {
  color: #fff;
}

.page-app-header .text-center .links a:last-of-type {
  text-decoration: underline;
}

.page-app-header .text-center .links span {
  font-size: 30px;
  margin: 0 10px;
  position: relative;
  bottom: -8px;
}

.swiper-container {
  padding-bottom: 30px;
}

body .swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet-active {
  background: #f45162;
  border-color: transparent;
}

/* ====================== [ End header  ] ====================== */
/* ====================== [ Start buton  ] ====================== */
.buton {
  min-width: 220px;
  text-align: center;
  padding: 15px 30px;
  font-weight: 600;
}

.buton svg {
  fill: #fff;
}

.buton.butn-gr {
  background-color: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  border: 1px solid transparent;
  color: #fff;
}

.buton.butn-gr svg {
  fill: #fff;
}

.buton.butn-gr:hover {
  background: #f45162;
}

.buton.butn-gray {
  background: #252527;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.buton.butn-gray:hover {
  background: #f45162;
  color: #fff;
}

.buton.butn-gray:hover svg {
  fill: #fff;
}

.buton.butn-bord-dark {
  border: 1px solid #fff;
}

.buton.butn-bord-red {
  border: 1px solid #f45162;
}

.buton.butn-bord-light {
  border: 1px solid #fff;
  color: #fff;
}

.buton.butn-bord-light svg {
  fill: #fff;
}

.buton.butn-bg-light {
  background: #fff;
  color: #0f0f1e;
}

.buton.butn-bg-light span {
  color: #0f0f1e;
}

.buton.butn-bg-light svg {
  fill: #0f0f1e;
}

.buton.rounded {
  border-radius: 30px !important;
}

.buton .icon svg {
  position: relative;
  width: 15px;
  margin-left: 10px;
  margin-bottom: -3px;
}

.butn-more {
  border-bottom: 1px solid #fff;
  font-weight: 600;
}

.butn-more svg {
  width: 6px;
  fill: #fff;
}

/* ====================== [ End buton  ] ====================== */
/* ====================== [ Start brands  ] ====================== */
.brands {
  position: relative;
}

.brands .circle-blur {
  top: -40px;
  left: 0;
  width: 180px;
  height: 180px;
  background: #17c0e9;
}

.brands .head h2 span {
  position: relative;
}

.brands .head h2 span .bord-gr {
  position: absolute;
  top: -10px;
  left: -10%;
  width: 120%;
}

.brands .item {
  margin: 30px auto;
}

.brands .item .img {
  position: relative;
  overflow: hidden;
  width: 120px;
  margin: auto;
  opacity: 0.5;
}

.brands .item .img img {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.brands .item .img:hover {
  opacity: 1;
}

.brands .item .img:hover .front {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.brands .item .img:hover .back {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.brands .item .img .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

/* ====================== [ End brands  ] ====================== */
/* ====================== [ Start serv-block  ] ====================== */
.serv-block {
  position: relative;
}

.serv-block .circle-blur {
  width: 240px;
  height: 240px;
  background: #f45162;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  left: 0;
  top: 50px;
  z-index: -1;
  opacity: 0.8;
}

.serv-block .circle-blur.two {
  left: auto;
  right: 0;
  top: auto;
  bottom: 100px;
}

.serv-block .content p {
  font-size: 16px;
}

.serv-block .content .butn-more {
  margin-left: 20px;
}

.serv-block .content .list-feat ul {
  margin: 0;
  padding: 0;
}

.serv-block .content .list-feat li .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background: #f45162;
  margin-right: 20px;
}

.serv-block .content .list-feat li .icon svg {
  width: 10px;
  fill: #fff;
  position: relative;
}

.serv-block .app-sta .item .icon {
  color: #f45162;
  font-size: 40px;
  margin-bottom: 10px;
}

.serv-block .app-sta .item h3 {
  font-size: 55px;
  margin-bottom: 10px;
}

.accordion.shadwo .item {
  padding: 17px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  cursor: pointer;
}

.accordion.shadwo .item .title h6 {
  font-size: 17px;
}

.accordion.shadwo .item .title h6 span {
  font-size: 30px;
  float: right;
  position: relative;
  top: -3px;
}

.accordion.shadwo .item .accordion-info {
  margin-top: 20px;
  display: none;
  transition: height .5s ease;
  overflow: hidden;
}

.accordion.shadwo .item .accordion-info.active {
  display: block;
}

.accordion.shadwo .item .accordion-info p {
  font-size: 15px;
}

.accordion .item.active {
  display: block;
  background: #252527;
  -webkit-box-shadow: 0px 10px 60px rgba(76, 76, 76, 0.1);
  box-shadow: 0px 10px 60px rgba(76, 76, 76, 0.1);
  border-color: transparent;
}

/* ====================== [ end serv-block  ] ====================== */
/* ====================== [ Start app-services  ] ====================== */
.app-services .item {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  background: #252527;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 3;
}

.app-services .item:hover {
  border-color: transparent;
}

.app-services .item:hover:before {
  opacity: 1;
}

.app-services .item:after,
.app-services .item:before {
  content: "";
  position: absolute;
  border-radius: 5px;
  background: #252527;
  z-index: -1;
}

.app-services .item:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-services .item:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.app-services .item .item-tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-services .item .item-tit .icon {
  margin-right: 20px;
}

.app-services .item .item-tit .icon svg {
  width: 40px;
  fill: #f45162;
}

.app-services .item .item-tit .icon span {
  font-size: 45px;
  color: #f45162;
}

.app-services .item .item-tit .text-tit h5 {
  font-size: 22px;
  margin-top: 10px;
  position: relative;
}

.app-services .item p {
  font-size: 15px;
}

/* ====================== [ End app-services  ] ====================== */
/* ====================== [ Start app-process  ] ====================== */
.app-process .item {
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 3;
}

.app-process .item:hover {
  border-color: transparent;
}

.app-process .item:hover:before {
  opacity: 1;
}

.app-process .item:after,
.app-process .item:before {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: #111215;
  z-index: -1;
}

.app-process .item:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-process .item:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.app-process .item .icon {
  font-size: 60px;
  color: #f45162;
  margin-bottom: 30px;
}

.app-process .item .step-number {
  font-size: 14px;
  color: #f45162;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 20px auto;
}

.app-process .item p {
  font-size: 16px;
}

/* ====================== [ End app-process  ] ====================== */
/* ====================== [ Start team-vid  ] ====================== */
.team-vid {
  margin-top: 260px;
  position: relative;
}

.team-vid .circle-blur {
  width: 220px;
  height: 220px;
  background: #157b95;
  -webkit-filter: blur(90px);
  filter: blur(90px);
  left: 0;
  top: 80px;
  opacity: 0.9;
}

.team-vid .circle-blur.two {
  left: auto;
  right: 0;
  top: auto;
  bottom: 100px;
  background: #0740ac;
}

.team-vid .vid-img {
  position: relative;
  min-height: 520px;
  padding: 80px 0;
  margin-top: -260px;
}

.team-vid .vid-img .vid {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.team-vid .vid-img .vid svg {
  fill: #f45162;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.team-vid .item .img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto 50px;
  position: relative;
}

.team-vid .item .img:hover:before {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
}

.team-vid .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.team-vid .item .img:after,
.team-vid .item .img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.team-vid .item .img:after {
  border: 1px solid rgba(255, 255, 255, 0.1);
  top: -15px;
  left: -15px;
}

.team-vid .item .img:before {
  background: #f45162;
  bottom: -15px;
  right: -15px;
}

.team-vid .item h5 {
  margin-bottom: 10px;
}

/* ====================== [ End team-vid  ] ====================== */
/* ====================== [ Start app-works  ] ====================== */
.app-works .filter {
  padding: 15px 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.app-works .filter span {
  margin: 0 30px;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.app-works .filter span:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.app-works .filter span.active {
  color: #f45162;
}

.app-works .filter span.active:after {
  opacity: 1;
}

.app-works .items {
  margin-top: 30px;
}

.app-works .items .item-img {
  position: relative;
}

.app-works .items .item-img:hover .cont {
  opacity: 1;
  visibility: visible;
}

.app-works .items .item-img .cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 11, 15, 0.75);
  color: #fff;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.app-works .items .item-img .cont .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 40px;
  margin-bottom: 20px;
}

.app-works .items .item-img .cont h5 {
  font-size: 30px;
  margin-bottom: 10px;
}

/* ====================== [ End app-works  ] ====================== */
/* ====================== [ Start app-price  ] ====================== */
.app-price .item {
  padding: 50px 70px;
  border: 1px solid rgba(76, 76, 76, 0.1);
}

.app-price .item.sm-padding {
  padding: 50px 40px;
}

.app-price .item.sm-padding .feat li .icon {
  margin-right: 10px;
}

.app-price .item.active {
  border-color: transparent;
  background: #202123;
}

.app-price .item .amount h3 {
  font-size: 100px;
  font-weight: 500;
  color: #f45162;
  position: relative;
  display: inline-block;
  line-height: 1;
}

.app-price .item .amount h3 span {
  position: absolute;
  left: -20px;
  top: 14px;
  color: #fff;
  font-size: 25px;
}

.app-price .item .order .buton {
  width: 100%;
}

.app-price .item .feat ul {
  margin: 0;
  padding: 0;
}

.app-price .item .feat li {
  color: #9b9b9b;
  margin-top: 15px;
}

.app-price .item .feat li.disbl {
  opacity: 0.3;
}

.app-price .item .feat li .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background: #f45162;
  margin-right: 20px;
}

.app-price .item .feat li .icon svg {
  width: 10px;
  fill: #fff;
  position: relative;
}

/* ====================== [ End app-price  ] ====================== */
/* ====================== [ Start app-testim  ] ====================== */
.app-testim .item {
  padding: 60px;
  background: #131416;
  border: 1px solid transparent;
  text-align: center;
  position: relative;
  z-index: 4;
}

.app-testim .item:hover:after {
  opacity: 1;
}

.app-testim .item:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #131416;
  z-index: -1;
}

.app-testim .item:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: #f45162;
  background: -webkit-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background: -o-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background: linear-gradient(-35deg, #17c0e9, #c96ddd, #f45162);
  z-index: -2;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.app-testim .item .icon img {
  width: 50px;
}

.app-testim .item .info {
  margin-top: 30px;
}

.app-testim .item .info .img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px;
}

.app-testim .item .info .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.app-testim .item .info .cont span {
  font-size: 15px;
  opacity: 0.4;
}

.app-testim .item .text p {
  font-size: 16px;
}

/* ====================== [ End app-testim  ] ====================== */
/* ====================== [ Start app-action  ] ====================== */
.app-action .box-gr {
  background-color: #f45162;
  background-image: -webkit-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(-35deg, #17c0e9, #c96ddd, #f45162);
  margin-top: 100px;
}

.app-action .box-gr .img {
  position: relative;
  margin-top: -100px;
}

.app-action .box-gr .cont {
  padding: 80px 0;
  position: relative;
}

.app-action .box-gr .cont .shape-light {
  position: absolute;
  top: 10%;
  left: 0;
  width: 80%;
  height: 80%;
  pointer-events: none;
}

.app-action .box-gr .cont .stit span {
  border-color: #fff;
}

.app-action .box-gr .cont .stit span:after {
  background: #fff;
}

/* ====================== [ End app-action  ] ====================== */
/* ====================== [ Start app-blog  ] ====================== */
.app-blog .item {
  border-radius: 10px;
  background: #252527;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.app-blog .item:hover .buton {
  background: #f45162;
  background: -webkit-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background: -o-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background: linear-gradient(-35deg, #17c0e9, #c96ddd, #f45162);
  color: #fff;
  border-color: transparent;
}

.app-blog .item .img {
  height: 300px;
}

.app-blog .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.app-blog .item .cont {
  padding: 20px 15px 20px 0;
}

.app-blog .item .cont .tag {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #f45162;
  margin-bottom: 15px;
}

.app-blog .item .cont h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.app-blog .item .cont .info a {
  margin-right: 10px;
  font-size: 12px;
}

.app-blog .item .cont .info a:last-of-type {
  margin-right: 0;
}

.app-blog .item .cont .info a span {
  opacity: 0.4;
}

.app-blog .item .cont p {
  font-size: 16px;
}

.app-blog .item .cont .buton {
  padding: 11px 30px;
  min-width: auto;
  margin-top: 20px;
  font-size: 14px;
}

.app-blog .item .cont .buton:hover {
  background: -webkit-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background: -o-linear-gradient(125deg, #17c0e9, #c96ddd, #f45162);
  background: linear-gradient(-35deg, #17c0e9, #c96ddd, #f45162);
  color: #fff;
  border-color: transparent;
}

/* ====================== [ End app-blog  ] ====================== */
/* ====================== [ Start shop  ] ====================== */
.shop .sidebar .search .form-group {
  position: relative;
}

.shop .sidebar .search .form-group input {
  padding: 15px 60px 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  border-radius: 5px;
  color: #fff;
  width: 100%;
}

.shop .sidebar .search .form-group button {
  padding: 11px 20px;
  background: #f45162;
  color: #fff;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  right: 3px;
}

.shop .sidebar .search .form-group button:focus {
  outline: none;
}

.shop .sidebar .box {
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.shop .sidebar .gat li {
  margin-bottom: 15px;
  opacity: 0.9;
  overflow: hidden;
  padding-left: 20px;
  position: relative;
}

.shop .sidebar .gat li:before {
  content: "";
  width: 6px;
  height: 1px;
  background: #1e1f21;
  position: absolute;
  left: 0;
  top: 50%;
}

.shop .sidebar .gat li:last-of-type {
  margin-bottom: 0;
}

.shop .sidebar .gat li a {
  width: 100%;
}

.shop .sidebar .gat li span {
  float: right;
}

.shop .sidebar .tags a {
  font-size: 13px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  margin: 4px 2px;
}

.shop .sidebar .tags a:hover {
  color: #fff;
  background: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
}

.shop .store .top-area .filter-select select {
  background: #111215;
  color: #fff;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.shop .store .item:hover .img .add,
.shop .store .item:hover .img:after {
  opacity: 1 !important;
  visibility: visible !important;
}

.shop .store .item .img {
  position: relative;
  width: 100%;
  height: 280px;
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.shop .store .item .img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 15, 19, 0.7);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}

.shop .store .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.shop .store .item .img .tag {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  background: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  z-index: 2;
}

.shop .store .item .img .add {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
}

.shop .store .item .img .add a {
  white-space: nowrap;
  padding: 14px 25px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  background: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
}

.shop .store .item .img .add a span {
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}

.shop .store .item .info {
  padding-top: 30px;
  text-align: center;
}

.shop .store .item .info span {
  color: #f45162;
  margin-top: 10px;
}

.shop .range-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.shop .range-slider .start-pointe {
  position: absolute;
  left: 0;
  bottom: -25px;
}

.shop .range-slider #tooltip {
  position: absolute;
  bottom: -25px;
  right: 0;
  left: auto !important;
}

.shop .range-slider #tooltip span::after {
  content: " K";
}

.shop #range {
  -webkit-appearance: none;
  width: 100%;
}

.shop #range:focus {
  outline: none;
}

.shop #range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f45162),
    to(#dee4ec)
  );
  background: -webkit-linear-gradient(
    left,
    #f45162 var(--range-progress),
    #dee4ec var(--range-progress)
  );
  background: linear-gradient(
    90deg,
    #f45162 var(--range-progress),
    #dee4ec var(--range-progress)
  );
  border-radius: 2px;
}

.shop #range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #f45162;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  cursor: pointer;
  height: 15px;
  width: 15px;
  -webkit-transform: translateY(calc(-50% + 2px));
  transform: translateY(calc(-50% + 2px));
}

/* ====================== [ End shop  ] ====================== */
/* ====================== [ Start footer  ] ====================== */
.app-footer {
  padding: 100px 0 0;
  position: relative;
  background: #131416;
}

.app-footer .circle-blur {
  width: 180px;
  height: 180px;
  background: #f45162;
  -webkit-filter: blur(120px);
  filter: blur(120px);
  left: 0;
  top: 80px;
  opacity: 0.7;
}

.app-footer .circle-blur.two {
  width: 220px;
  height: 220px;
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  background: #d14add;
}

.app-footer .logo-brand {
  max-width: 90px;
}

.app-footer .info span {
  opacity: 0.4;
  font-weight: 400;
  margin-bottom: 10px;
}

.app-footer .info h6 {
  font-size: 20px;
}

.app-footer .social a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 3;
}

.app-footer .social a:hover {
  border-color: transparent;
}

.app-footer .social a:hover:before {
  opacity: 1;
}

.app-footer .social a:after,
.app-footer .social a:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #1e1f21;
  z-index: -1;
}

.app-footer .social a:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.app-footer .social a:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#17c0e9),
    color-stop(#c96ddd),
    to(#f45162)
  );
  background-image: -webkit-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: -o-linear-gradient(right, #17c0e9, #c96ddd, #f45162);
  background-image: linear-gradient(to left, #17c0e9, #c96ddd, #f45162);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.app-footer .links .title {
  font-size: 22px;
}

.app-footer .links ul {
  margin: 0;
}

.app-footer .links li {
  margin-top: 25px;
  font-size: 17px;
  opacity: 0.7;
  line-height: 1;
}

.app-footer .links li .icon {
  font-size: 20px;
  margin-right: 5px;
}

.app-footer .sub-footer {
  margin-top: 80px;
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* ====================== [ End footer  ] ====================== */
/* ====================== [ Start Responsive  ] ====================== */
@media screen and (max-width: 991px) {
  .lg-hide {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
  .mobile-app .caption {
    margin-bottom: 50px;
    text-align: center;
  }
  .mobile-app .caption h1 {
    font-size: 60px;
  }
  .app-action .box-gr .cont {
    width: 100%;
    text-align: center;
  }
  .app-works .filter {
    padding-bottom: 0;
  }
  .app-works .filter span {
    margin: 0 15px 20px;
  }
  .app-works .filter span:after {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
  .mobile-app .caption h1 {
    font-size: 40px;
  }
  .app-blog .item .cont {
    padding: 30px;
  }
  .sm-mb50 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .buton {
    margin-top: 15px;
  }
}
